.adv {
  min-height: 1783px;
  padding: 56px 0;

  background-position: center top;
  background-repeat: repeat-y;
  background-image: url('../img/bgs/adv-bg.jpg');

  overflow-x: hidden;

  @media (min-width: 1921px) {
    @include bg;
  }
}

.adv__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 140%;
  text-align: center;
  span {
    color: $green;
  }

  @media (max-width: 575px) {
    font-size: 30px;
  }
}

.adv__list {
  width: 75%;
  margin: 25px auto 0 auto;

  @media (max-width: 575px) {
    width: 100%;
  }
}

.adv__item {
  position: relative;

  width: 100%;
  padding: 30px 46px 10px 30px;
  display: flex;
  align-items: start;
  margin-bottom: 15px;

  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 18px;

  &:first-child {
    padding-right: 170px;

    @media (max-width: 1200px) {
      & br {
        display: none;
      }
    }

    @media (max-width: 991px) {
      padding-right: 46px;
    }
  }
  &:first-child::after {
    position: absolute;
    top: -19px;
    right: -155px;
    z-index: 1;

    content: url('../img/ciabatta.png');

    @media (max-width: 991px) {
      content: none;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 10px 30px;
  }

  @media (max-width: 575px) {
    padding: 20px 20px 10px 20px;
  }
}

.adv__item-title {
  font-style: italic;
  font-weight: 900;
  font-size: 24px;
  line-height: 140%;
}

.adv__item-text {
  margin-top: 10px;

  font-size: 17px;
  line-height: 140%;
}
