.desc {
  min-height: 927px;
  padding-top: 24px;
  padding-bottom: 60px;

  @include bg;
  background-image: url('../img/bgs/desc-bg.png');

  overflow-x: hidden;
}

.desc__title {
  margin-top: 65px;

  font-weight: 800;
  font-size: 48px;
  line-height: 140%;
}

.desc__text {
  margin-top: 25px;

  font-weight: 600;
  font-size: 25px;
  line-height: 140%;

  span {
    font-weight: 800;
    color: $green;
  }
}

.desc__img {
  position: absolute;
  z-index: -1;
  right: -60px;
  top: 95px;
}

.desc__caption {
  position: relative;

  display: inline-block;
  padding: 12px 18px;
  margin-top: 35px;

  font-size: 16px;
  line-height: 140%;

  background: #ffffff;
  border-radius: 18px;

  &::before {
    position: absolute;
    top: -15px;
    left: 20px;

    content: url('../img/icons/triangle.png');
  }
}

.desc__form-title {
  margin-top: 50px;

  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-align: center;

  &::before {
    position: absolute;
    transform: translate3d(calc(-100% - 15px), 10px, 0);

    content: url('../img/icons/desc-arrow-left.svg');
  }
  &::after {
    position: absolute;
    transform: translate3d(calc(15px), 10px, 0);

    content: url('../img/icons/desc-arrow-right.svg');
  }
}
