.reviews {
  min-height: 1368px;
  padding: 55px 0;

  @include bg;
  background-image: url('/src/img/bgs/review-bg.jpg');

  @media (max-width: 575px) {
    padding-bottom: 0;
    min-height: 1330px;
  }
}

.reviews__title {
  position: relative;

  margin-bottom: 0;

  font-weight: 800;
  font-size: 40px;
  line-height: 140%;
  text-align: center;
  color: $white;

  &::before {
    position: absolute;

    bottom: -69px;
    left: 122px;

    content: url("/src/img/icons/review-arrow.svg");

    @media (max-width: 991px) {
      content: none;
    }
  }

  @media (max-width: 575px) {
    font-size: 23px;
  }

}

.reviews__review-box {
  width: 77%;
  padding: 35px 55px;

  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 18px;

  @media (max-width: 767px) {
    width: 100%;
    box-shadow: none;
  }

  @media (max-width: 575px) {
    padding: 20px;
  }
}

.reviews__review-company {
  margin-bottom: 0;

  font-style: italic;
  font-weight: 900;
  font-size: 22px;
  line-height: 140%;
}

.reviews__review-text {
  margin-top: 15px;

  font-size: 17px;
  line-height: 140%;
}

.reviews__form-title {
  margin-top: 40px;

  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  text-align: center;
  color: $white;

  @media (max-width: 575px) {
    font-size: 20px;
  }
}
